* {
	margin: 0;
	padding: 0;
}

body { background: #9966ff
 }

header, .main, footer
{ 
width: 90%; 
margin:20px auto;
max-width: 1000px;

}

header nav {
	background: #006699;
	overflow: hidden;
}



header nav ul
{
	list-style: none;
}

header nav ul li {
	float: left;
}

header nav ul li a {
	padding: 10px 20px;
	display: block;
	color: #fff;
	text-decoration: none;
}

header nav ul li  a:hover{
	background: #75acec;
}


.main .articles
{
	
	float: left;
	width: 48.5%;
	margin-right: 1.5%

    
    }

.main .articles article{
	padding: 40px;
	background: #3399ff;
	margin-bottom: 20px;
}


    aside {

    	width:50%;
    	background: #006699;
    	float: left;
    	padding: 20px;
    	box-sizing: border-box;
    }

    footer 
    {
    	background: #000;
    	color:#fff;
    	clear: both;
    	padding: 10px 0px;
    	text-align: center;

    }

    li{

     border: 1px solid;
border-collapse: collapse;
padding: 2px;
     border-color: #3399ff;
      }